@{
    ViewData["Title"] = "Giới thiệu";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<div style="text-align: center; padding: 20px; background-color: #f2f2f2;">
    <h1 style="color: #333;">Chào mừng bạn đến với Blog The Coffee Cat</h1>
    <img src="https://static.zerochan.net/Ishida.Sui.full.2908555.jpg" alt="Profile Image" style="border-radius: 50%; width: 150px; height: 150px; margin-top: 20px;" />

    <p style="font-size: 18px; color: #555; margin-top: 10px;">
        Mình là người đơn giản, thi thoảng thích phức tạp :v
    </p>

        

    <p style="margin-top: 20px; color: #777;">
        Hãy cùng nhau chia sẻ và học hỏi nhé! Đừng quên đọc các bài viết mới nhất của mình và để lại ý kiến của bạn.
    </p>
</div>